@import '../../../shared/styles/global.scss';

.wrap {
  position: relative;
  margin: 10px 0;
  width: 100%;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--primary, $primary);
    height: 2px;
    width: 100%;
    transform-origin: 0%;
    transform: scaleX(0);
    transition: all 0.2s;
  }

  &:focus-within {
    &::after {
      transform: scaleX(1);
    }

    label {
      transform: scale(0.7) translateY(-18px);
    }
  }
 
  input {
    border-radius: 4px;
    border: none;
    height: 40px;
    background-color: $greyLight;
    color: $greyDark;
    padding: 8px;
    width: 100%;
    outline: none;
    padding: 17px 6px 4px 7px;
    z-index: 1;
    padding-right: 12px;
    &:not(:placeholder-shown) + label {
      transform: scale(0.7) translateY(-18px);
    }
  }

  .disabled {
    background-color: $disabled;
  }
  
  label {
    position: absolute;
    bottom: 11px;
    left: 8px;
    color: $greyDark;
    cursor: text;
    transform-origin: 0%;
    transform: translateY(0px);
    transition: transform 500ms ease;
    z-index: 0;
  }
}

@media only screen and (max-width: 600px) {
  input {
    font-size: 16px;
  }

  label {
    font-size: 10px !important;
  }
}